.avatar-border {
	float: left;
	width: 153px;
	height: 153px;
	border-radius: 50%;
	border: 1px solid #dddcdb;
	margin: 0 35px 35px 40px;
	box-sizing: content-box;
}

.avatar-pic {
	border-radius: 50%;
	border: 10px solid #f3f2f1;
}

.info-list {
	margin-bottom: 15px;
	font-size: 14px;
	font-family: "open_sansregular";
	color: rgb( 114, 112, 112 );
	list-style-type: none;
}

.info-item {
	margin-bottom: 8px;
}

.semibold {
	font-family: "open_sanssemibold";
}

.info-skills {
	float: right;
	max-width: 250px;
	margin-right: 30px;
}

.skills-row {
	float: left;
	margin-bottom: 10px;
}

.label {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	padding: 0 5px 0 8px;
	background-image: url(/img/label-bg.png);
	height: 20px;
	line-height: 20px;
  	font-size: 9px;
  	font-family: "open_sanssemibold";
  	color: rgb( 30, 116, 101 );
  	text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
}

.label-caption {
	display: inline-block;
	vertical-align: text-bottom;
	padding-bottom: 2px;
}

.label:before {
	position: absolute;
	left: -8px;
	display: inline-block;
	content: " ";
	width: 9px;
	height: 20px;
	background-image: url(/img/label-before.png);
}

.label:after {
	position: relative;
	left: 8px;
	display: inline-block;
	content: " ";
	width: 4px;
	height: 20px;
	background-image: url(/img/label-after.png);
}

.about-list {
	width: 560px;
	margin: 20px 40px 0 40px;
	padding: 0 0 15px 0;
	border-bottom: 4px solid rgb( 246, 245, 244 );
}

.about-list:last-child {
	border: none;
}

.about-item {
	list-style-type: none; 
	padding: 5px 0 0 100px;
	min-height: 55px;
  	font-size: 15px;
  	font-family: "open_sansregular";
  	color: rgb( 114, 112, 112 );
}

.about-item .semibold {
	display: block;
}

.work {
    background: url(/img/ico-work.png) 0px center no-repeat;
}

.school {
	background: url(/img/ico-school.png) 0px center no-repeat;
}

.graduate {
	background: url(/img/ico-graduate.png) 0px center no-repeat;
}

.course {
	background: url(/img/ico-course.png) 0px center no-repeat;
}