.projects {
	padding: 0 0 0 10px;
	min-height: 745px;
	margin: 0;
}

.project-item {
	display: inline-block;
	width: 166px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	vertical-align: top;
	box-shadow: 0px 2px 1px 0px rgba( 9, 9, 9, 0.07 );
	margin: 0 0 35px 30px;
}

.preview {
	height: 119px;
	width: 166px;
	display: block;
	background-color: #000;
}

.preview-pic {
	opacity: 0.75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=75) black;
}

.preview-pic:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100) black;
}

.project-address {
	height: 35px;
	background-color: #f2f2f2;
	text-align: center;
}

.project-link {
	font-size: 13px;
	font-family: "open_sanssemibold";
	color: rgb( 114, 112, 112 );
	text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
	text-decoration: none;
	line-height: 35px;
}

.project-description {
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-family: "open_sanslight";
	color: rgb( 114, 112, 112 );
	line-height: 1.333;
	background-color: #fff; 
}

.project-new {
	position: relative;
	display: inline-block;
	height: 133px;
	width: 166px;
	background: #fefdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefdfd 0%, #e9e8e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefdfd 0%,#e9e8e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefdfd 0%,#e9e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdfd', endColorstr='#e9e8e8',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	border: 1px solid #c2c3c3;
	text-align: center;
  	box-shadow: 0px 2px 1px 0px rgba( 9, 9, 9, 0.07 );
  	margin-left: 30px;
}

.project-new-icon {
	display: block;
	height: 133px;
	width: 166px;
	position: absolute;
	background: url(../img/ico-project.png) no-repeat center 40%;
}

.project-new-link {
	display: block;
	height: 133px;
	width: 166px;
	position: absolute;
	text-decoration: none; 
	font-size: 14px;
	font-family: "open_sanssemibold";
	color: rgb( 114, 112, 112 );
	text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
	padding-top: 90px;
}

.project-new-link:hover {
	background: #e8e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e7e7 0%, #bebdbd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e8e7e7 0%,#bebdbd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e8e7e7 0%,#bebdbd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#bebdbd',GradientType=0 ); /* IE6-9 */
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50) black;
}
